<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizador de Noticias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Predecir la noticia... </h1>
        <form id="inputForm">
            <label for="userInput">Ingresa aquí la noticia:</label>
            <input type="text" id="userInput" name="userInput" required>
            <button type="submit">Mandar</button>
        </form>
        <div id="response"></div>
        <div id="responseTime"></div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>